@{
    ViewData["Title"] = "About";
}
<h2>About news-search</h2>
<h3>Tugas Besar 3 - IF2211 Strategi Algoritma</h3>

<p><i>News aggregator</i> yang dilengkapi pencarian teks dengan algoritma Knuth-Morris-Pratt, Boyer-Moore, dan <i>regular expression</i>.</p>

<p>Dibuat oleh:</p>
<ul>
    <li>13514067 - Letivany Aldina</li>
    <li>13515001 - Jonathan Christopher</li>
    <li>13515 - Ray Andrew Obaja S.</li>
</ul>
